[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-httpauth = "*"
flask-login = "*"
flask-cors = "*"
flask-security = "*"
flask-session = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
